
@import "tailwindcss";
@import "@heroui/styles";
@plugin "daisyui";
@import "aos/dist/aos.css";

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b82f6; /* Blue accent */
}